@font-face {
	font-family: "zd-icon";
  src: url('./src/iconfont.woff') format('woff'); /* chrome, firefox */
  src: url('./src/iconfont.ttf') format('truetype'); /* chrome, firefox, opera, Safari */
  font-weight: normal;
  font-display: inline;
  font-style: normal;
}

[class*='zd-icon-'] {
  font-family: "zd-icon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: normal;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zd-icon-view:before {
  content: "\e6b1";
}

.zd-icon-guanbi:before {
  content: "\e607";
}

.zd-icon-check:before {
  content: "\e615";
}

